/**
 * Authlete API
 * Welcome to the **Authlete API documentation**. Authlete is an **API-first service** where every aspect of the  platform is configurable via API. This documentation will help you authenticate and integrate with Authlete to  build powerful OAuth 2.0 and OpenID Connect servers.  At a high level, the Authlete API is grouped into two categories:  - **Management APIs**: Enable you to manage services and clients. - **Runtime APIs**: Allow you to build your own Authorization Servers or Verifiable Credential (VC) issuers.  ## 🌐 API Servers  Authlete is a global service with clusters available in multiple regions across the world:  - 🇺🇸 **US**: `https://us.authlete.com` - 🇯🇵 **Japan**: `https://jp.authlete.com` - 🇪🇺 **Europe**: `https://eu.authlete.com` - 🇧🇷 **Brazil**: `https://br.authlete.com`  Our customers can host their data in the region that best meets their requirements.  ## 🔑 Authentication  All API endpoints are secured using **Bearer token authentication**. You must include an access token in every request:  ``` Authorization: Bearer YOUR_ACCESS_TOKEN ```  ### Getting Your Access Token  Authlete supports two types of access tokens:  **Service Access Token** - Scoped to a single service (authorization server instance)  1. Log in to [Authlete Console](https://console.authlete.com) 2. Navigate to your service → **Settings** → **Access Tokens** 3. Click **Create Token** and select permissions (e.g., `service.read`, `client.write`) 4. Copy the generated token  **Organization Token** - Scoped to your entire organization  1. Log in to [Authlete Console](https://console.authlete.com) 2. Navigate to **Organization Settings** → **Access Tokens** 3. Click **Create Token** and select org-level permissions 4. Copy the generated token  > ⚠️ **Important Note**: Tokens inherit the permissions of the account that creates them. Service tokens can only  > access their specific service, while organization tokens can access all services within your org.  ### Token Security Best Practices  - **Never commit tokens to version control** - Store in environment variables or secure secret managers - **Rotate regularly** - Generate new tokens periodically and revoke old ones - **Scope appropriately** - Request only the permissions your application needs - **Revoke unused tokens** - Delete tokens you're no longer using from the console  ### Quick Test  Verify your token works with a simple API call:  ```bash curl -X GET https://us.authlete.com/api/service/get/list \\   -H \"Authorization: Bearer YOUR_ACCESS_TOKEN\" ```  ## 🎓 Tutorials  If you're new to Authlete or want to see sample implementations, these resources will help you get started:  - [Getting Started with Authlete](https://www.authlete.com/developers/getting_started/) - [From Sign-Up to the First API Request](https://www.authlete.com/developers/tutorial/signup/)  ## 🛠 Contact Us  If you have any questions or need assistance, our team is here to help:  - [Contact Page](https://www.authlete.com/contact/) 
 *
 * The version of the OpenAPI document: 3.0.16
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package authlete.api

import authlete.models.AuditEntriesGetResponse
import authlete.models.IdpError
import java.time.OffsetDateTime
import scala.collection.immutable.Set
import authlete.JsonSupport.{*, given}
import authlete.FormSerializable
import authlete.FormStyleFormat
import authlete.HeaderSerializable
import authlete.ApiKeyLocation
import authlete.PathStyleFormat
import authlete.PathSerializable
import authlete.CookieSerializable
import authlete.Helpers.*
import sttp.client4.jsoniter.*
import sttp.client4.*
import sttp.model.Method

object AuditLogs:
  def apply(baseUrl: String = "https://us.authlete.com"): AuditLogs[authlete.Authorization.NoAuthorization.type] = AuditLogs(baseUrl, authlete.Authorization.NoAuthorization)
  def withBasicAuth(baseUrl: String, username: String, password: String): AuditLogs[authlete.Authorization.BasicAuth] =
    AuditLogs(baseUrl, authlete.Authorization.BasicAuth(username, password))

  def withApiKeyAuth(baseUrl: String, apiKey: String): AuditLogs[authlete.Authorization.ApiKey] =
    AuditLogs(baseUrl, authlete.Authorization.ApiKey(apiKey))

  def withBearerTokenAuth(baseUrl: String, token: String): AuditLogs[authlete.Authorization.BearerToken] =
    AuditLogs(baseUrl, authlete.Authorization.BearerToken(token))

case class AuditLogs[Auth <: authlete.Authorization] private (baseUrl: String, authConfig: authlete.Authorization):
  def withBasicAuth(username: String, password: String): AuditLogs[authlete.Authorization.BasicAuth] =
    copy(authConfig = authlete.Authorization.BasicAuth(username, password))

  def withApiKeyAuth(apiKey: String): AuditLogs[authlete.Authorization.ApiKey] =
    copy(authConfig = authlete.Authorization.ApiKey(apiKey))

  def withNoAuth: AuditLogs[authlete.Authorization.NoAuthorization.type] =
    copy(authConfig = authlete.Authorization.NoAuthorization)

  def withBearerTokenAuth(token: String): AuditLogs[authlete.Authorization.BearerToken] =
    copy(authConfig = authlete.Authorization.BearerToken(token))

  /**
   * Retrieve audit logs as a cursor-paginated list. Results can be filtered by time range, event type, and organization. 
   * 
   * Expected answers:
   *   code 200 : AuditEntriesGetResponse (A page of audit log entries matching the query.)
   *   code 400 : IdpError ()
   *   code 401 : IdpError ()
   *   code 403 : IdpError ()
   *   code 500 : IdpError ()
   * 
   * Available security schemes:
   *   bearer (http)
   * 
   * @param after Return logs after this timestamp (ISO 8601).
   * @param before Return logs before this timestamp (ISO 8601).
   * @param types Filter by event type (e.g. `service.create`, `security.login`, `client.create`). Can be specified multiple times. The set of available event types is environment-specific and includes server-side types; retrieve the full list from the `/api/audit/types` endpoint. 
   * @param organizationId The organization to retrieve audit logs for. Not required when authenticating with an organization token — the token's own organization is used, and a differing value is rejected. Required for user access tokens, unless the user is an Authlete administrator (administrators may omit it to query across all organizations). 
   * @param limit The maximum number of entries to return per page. Values outside the allowed range are clamped; the effective value is echoed back in the response. 
   * @param cursor An opaque cursor returned as `nextCursor` by a previous response. When provided, it takes precedence over the `before` parameter. 
   */
  def entriesGetIdpApi(after: Option[OffsetDateTime] = scala.None, before: Option[OffsetDateTime] = scala.None, types: Set[String], organizationId: Option[Long] = scala.None, limit: Option[Int] = scala.None, cursor: Option[String] = scala.None)(using Auth <:< authlete.Authorization.BearerToken): sttp.client4.Request[Either[ResponseException[String], AuditEntriesGetResponse]] =
    val requestURL =
      uri"$baseUrl/api/audit/entries"
        .addParams(FormSerializable.serialize("after", after, FormStyleFormat.FORM, true): _*)
        .addParams(FormSerializable.serialize("before", before, FormStyleFormat.FORM, true): _*)
        .addParams(FormSerializable.serialize("types", types, FormStyleFormat.FORM, true): _*)
        .addParams(FormSerializable.serialize("organizationId", organizationId, FormStyleFormat.FORM, true): _*)
        .addParams(FormSerializable.serialize("limit", limit, FormStyleFormat.FORM, true): _*)
        .addParams(FormSerializable.serialize("cursor", cursor, FormStyleFormat.FORM, true): _*)

    basicRequest
      .method(Method.GET, requestURL)
      .contentType("application/json")
      .auth(authConfig)
      .response(asJson[AuditEntriesGetResponse])

  /**
   * Returns the list of available audit log event types for this environment.  Accessible with a user access token or an organization token that has the `view_audit_log` permission (e.g. a token created with the `admin` or `audit_reader` preset).  This endpoint is hosted on the Authlete IdP server (`https://login.authlete.com`), not on the regional API clusters. 
   * 
   * Expected answers:
   *   code 200 : Set[String] (List of available audit event type strings.)
   *   code 400 : IdpError ()
   *   code 401 : IdpError ()
   *   code 403 : IdpError ()
   *   code 500 : IdpError ()
   * 
   * Available security schemes:
   *   bearer (http)
   */
  def typesGetIdpApi(using Auth <:< authlete.Authorization.BearerToken): sttp.client4.Request[Either[ResponseException[String], Set[String]]] =
    val requestURL =
      uri"$baseUrl/api/audit/types"

    basicRequest
      .method(Method.GET, requestURL)
      .contentType("application/json")
      .auth(authConfig)
      .response(asJson[Set[String]])

end AuditLogs