/**
 * Authlete API
 * Welcome to the **Authlete API documentation**. Authlete is an **API-first service** where every aspect of the  platform is configurable via API. This documentation will help you authenticate and integrate with Authlete to  build powerful OAuth 2.0 and OpenID Connect servers.  At a high level, the Authlete API is grouped into two categories:  - **Management APIs**: Enable you to manage services and clients. - **Runtime APIs**: Allow you to build your own Authorization Servers or Verifiable Credential (VC) issuers.  ## 🌐 API Servers  Authlete is a global service with clusters available in multiple regions across the world:  - 🇺🇸 **US**: `https://us.authlete.com` - 🇯🇵 **Japan**: `https://jp.authlete.com` - 🇪🇺 **Europe**: `https://eu.authlete.com` - 🇧🇷 **Brazil**: `https://br.authlete.com`  Our customers can host their data in the region that best meets their requirements.  ## 🔑 Authentication  All API endpoints are secured using **Bearer token authentication**. You must include an access token in every request:  ``` Authorization: Bearer YOUR_ACCESS_TOKEN ```  ### Getting Your Access Token  Authlete supports two types of access tokens:  **Service Access Token** - Scoped to a single service (authorization server instance)  1. Log in to [Authlete Console](https://console.authlete.com) 2. Navigate to your service → **Settings** → **Access Tokens** 3. Click **Create Token** and select permissions (e.g., `service.read`, `client.write`) 4. Copy the generated token  **Organization Token** - Scoped to your entire organization  1. Log in to [Authlete Console](https://console.authlete.com) 2. Navigate to **Organization Settings** → **Access Tokens** 3. Click **Create Token** and select org-level permissions 4. Copy the generated token  > ⚠️ **Important Note**: Tokens inherit the permissions of the account that creates them. Service tokens can only  > access their specific service, while organization tokens can access all services within your org.  ### Token Security Best Practices  - **Never commit tokens to version control** - Store in environment variables or secure secret managers - **Rotate regularly** - Generate new tokens periodically and revoke old ones - **Scope appropriately** - Request only the permissions your application needs - **Revoke unused tokens** - Delete tokens you're no longer using from the console  ### Quick Test  Verify your token works with a simple API call:  ```bash curl -X GET https://us.authlete.com/api/service/get/list \\   -H \"Authorization: Bearer YOUR_ACCESS_TOKEN\" ```  ## 🎓 Tutorials  If you're new to Authlete or want to see sample implementations, these resources will help you get started:  - [Getting Started with Authlete](https://www.authlete.com/developers/getting_started/) - [From Sign-Up to the First API Request](https://www.authlete.com/developers/tutorial/signup/)  ## 🛠 Contact Us  If you have any questions or need assistance, our team is here to help:  - [Contact Page](https://www.authlete.com/contact/) 
 *
 * The version of the OpenAPI document: 3.0.16
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package authlete.api

import authlete.models.FederationConfigurationResponse
import authlete.models.FederationRegistrationRequest
import authlete.models.FederationRegistrationResponse
import authlete.models.Result
import com.github.plokhotnyuk.jsoniter_scala.circe.JsoniterScalaCodec.*
import authlete.JsonSupport.{*, given}
import authlete.FormSerializable
import authlete.FormStyleFormat
import authlete.HeaderSerializable
import authlete.ApiKeyLocation
import authlete.PathStyleFormat
import authlete.PathSerializable
import authlete.CookieSerializable
import authlete.Helpers.*
import sttp.client4.jsoniter.*
import sttp.client4.*
import sttp.model.Method

object FederationEndpoint:
  def apply(baseUrl: String = "https://us.authlete.com"): FederationEndpoint[authlete.Authorization.NoAuthorization.type] = FederationEndpoint(baseUrl, authlete.Authorization.NoAuthorization)
  def withBasicAuth(baseUrl: String, username: String, password: String): FederationEndpoint[authlete.Authorization.BasicAuth] =
    FederationEndpoint(baseUrl, authlete.Authorization.BasicAuth(username, password))

  def withApiKeyAuth(baseUrl: String, apiKey: String): FederationEndpoint[authlete.Authorization.ApiKey] =
    FederationEndpoint(baseUrl, authlete.Authorization.ApiKey(apiKey))

  def withBearerTokenAuth(baseUrl: String, token: String): FederationEndpoint[authlete.Authorization.BearerToken] =
    FederationEndpoint(baseUrl, authlete.Authorization.BearerToken(token))

case class FederationEndpoint[Auth <: authlete.Authorization] private (baseUrl: String, authConfig: authlete.Authorization):
  def withBasicAuth(username: String, password: String): FederationEndpoint[authlete.Authorization.BasicAuth] =
    copy(authConfig = authlete.Authorization.BasicAuth(username, password))

  def withApiKeyAuth(apiKey: String): FederationEndpoint[authlete.Authorization.ApiKey] =
    copy(authConfig = authlete.Authorization.ApiKey(apiKey))

  def withNoAuth: FederationEndpoint[authlete.Authorization.NoAuthorization.type] =
    copy(authConfig = authlete.Authorization.NoAuthorization)

  def withBearerTokenAuth(token: String): FederationEndpoint[authlete.Authorization.BearerToken] =
    copy(authConfig = authlete.Authorization.BearerToken(token))

  /**
   * This API gathers the federation configuration about a service. The authorization server implementation should retrieve the value of the `action` response parameter from the API response and take the following steps according to the value. 
   * 
   * Expected answers:
   *   code 200 : FederationConfigurationResponse (Federation configuration retrieved successfully)
   *   code 400 : Result ()
   *   code 401 : Result ()
   *   code 403 : Result ()
   *   code 500 : Result ()
   * 
   * Available security schemes:
   *   bearer (http)
   * 
   * @param serviceId A service ID.
   * @param body 
   */
  def configurationApi(serviceId: String, body: Option[io.circe.Json] = scala.None)(using Auth <:< authlete.Authorization.BearerToken): sttp.client4.Request[Either[ResponseException[String], FederationConfigurationResponse]] =
    val serviceIdPathParam = PathSerializable.serialize("serviceId", serviceId, PathStyleFormat.SIMPLE, false)
    val requestURL =
      uri"$baseUrl/api/${serviceIdPathParam}/federation/configuration"

    basicRequest
      .method(Method.POST, requestURL)
      .contentType("application/json")
      .auth(authConfig)
      .body(asJson(body))
      .response(asJson[FederationConfigurationResponse])

  /**
   * The Authlete API is for implementations of the **federation registration endpoint** that accepts \"explicit client registration\". Its details are defined in [OpenID Connect Federation 1.0](https://openid.net/specs/openid-connect-federation-1_0.html). The endpoint accepts `POST` requests whose `Content-Type` is either of the following. 1. `application/entity-statement+jwt`- `application/trust-chain+json` When the `Content-Type` of a request is `application/entity-statement+jwt`, the content of the request is the entity configuration of a relying party that is to be registered. In this case, the implementation of the federation registration endpoint should call Authlete's `/federation/registration` API with the entity configuration set to the `entityConfiguration` request parameter. On the other hand, when the `Content-Type` of a request is `application/trust-chain+json`, the content of the request is a JSON array that contains entity statements in JWT format. The sequence of the entity statements composes the trust chain of a relying party that is to be registered. In this case, the implementation of the federation registration endpoint should call Authlete's `/federation/registration` API with the trust chain set to the `trustChain` request parameter. 
   * 
   * Expected answers:
   *   code 200 : FederationRegistrationResponse ()
   *   code 400 : Result ()
   *   code 401 : Result ()
   *   code 403 : Result ()
   *   code 500 : Result ()
   * 
   * Available security schemes:
   *   bearer (http)
   * 
   * @param serviceId A service ID.
   * @param federationRegistrationRequest 
   */
  def registrationApi(serviceId: String, federationRegistrationRequest: FederationRegistrationRequest)(using Auth <:< authlete.Authorization.BearerToken): sttp.client4.Request[Either[ResponseException[String], FederationRegistrationResponse]] =
    val serviceIdPathParam = PathSerializable.serialize("serviceId", serviceId, PathStyleFormat.SIMPLE, false)
    val requestURL =
      uri"$baseUrl/api/${serviceIdPathParam}/federation/registration"

    basicRequest
      .method(Method.POST, requestURL)
      .contentType("application/json")
      .auth(authConfig)
      .body(asJson(federationRegistrationRequest))
      .response(asJson[FederationRegistrationResponse])

end FederationEndpoint