/**
 * Authlete API
 * Welcome to the **Authlete API documentation**. Authlete is an **API-first service** where every aspect of the  platform is configurable via API. This documentation will help you authenticate and integrate with Authlete to  build powerful OAuth 2.0 and OpenID Connect servers.  At a high level, the Authlete API is grouped into two categories:  - **Management APIs**: Enable you to manage services and clients. - **Runtime APIs**: Allow you to build your own Authorization Servers or Verifiable Credential (VC) issuers.  ## 🌐 API Servers  Authlete is a global service with clusters available in multiple regions across the world:  - 🇺🇸 **US**: `https://us.authlete.com` - 🇯🇵 **Japan**: `https://jp.authlete.com` - 🇪🇺 **Europe**: `https://eu.authlete.com` - 🇧🇷 **Brazil**: `https://br.authlete.com`  Our customers can host their data in the region that best meets their requirements.  ## 🔑 Authentication  All API endpoints are secured using **Bearer token authentication**. You must include an access token in every request:  ``` Authorization: Bearer YOUR_ACCESS_TOKEN ```  ### Getting Your Access Token  Authlete supports two types of access tokens:  **Service Access Token** - Scoped to a single service (authorization server instance)  1. Log in to [Authlete Console](https://console.authlete.com) 2. Navigate to your service → **Settings** → **Access Tokens** 3. Click **Create Token** and select permissions (e.g., `service.read`, `client.write`) 4. Copy the generated token  **Organization Token** - Scoped to your entire organization  1. Log in to [Authlete Console](https://console.authlete.com) 2. Navigate to **Organization Settings** → **Access Tokens** 3. Click **Create Token** and select org-level permissions 4. Copy the generated token  > ⚠️ **Important Note**: Tokens inherit the permissions of the account that creates them. Service tokens can only  > access their specific service, while organization tokens can access all services within your org.  ### Token Security Best Practices  - **Never commit tokens to version control** - Store in environment variables or secure secret managers - **Rotate regularly** - Generate new tokens periodically and revoke old ones - **Scope appropriately** - Request only the permissions your application needs - **Revoke unused tokens** - Delete tokens you're no longer using from the console  ### Quick Test  Verify your token works with a simple API call:  ```bash curl -X GET https://us.authlete.com/api/service/get/list \\   -H \"Authorization: Bearer YOUR_ACCESS_TOKEN\" ```  ## 🎓 Tutorials  If you're new to Authlete or want to see sample implementations, these resources will help you get started:  - [Getting Started with Authlete](https://www.authlete.com/developers/getting_started/) - [From Sign-Up to the First API Request](https://www.authlete.com/developers/tutorial/signup/)  ## 🛠 Contact Us  If you have any questions or need assistance, our team is here to help:  - [Contact Page](https://www.authlete.com/contact/) 
 *
 * The version of the OpenAPI document: 3.0.16
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package authlete.api

import authlete.models.NativeSsoLogoutRequest
import authlete.models.NativeSsoLogoutResponse
import authlete.models.NativeSsoRequest
import authlete.models.NativeSsoResponse
import authlete.models.Result
import authlete.JsonSupport.{*, given}
import authlete.FormSerializable
import authlete.FormStyleFormat
import authlete.HeaderSerializable
import authlete.ApiKeyLocation
import authlete.PathStyleFormat
import authlete.PathSerializable
import authlete.CookieSerializable
import authlete.Helpers.*
import sttp.client4.jsoniter.*
import sttp.client4.*
import sttp.model.Method

object NativeSSO:
  def apply(baseUrl: String = "https://us.authlete.com"): NativeSSO[authlete.Authorization.NoAuthorization.type] = NativeSSO(baseUrl, authlete.Authorization.NoAuthorization)
  def withBasicAuth(baseUrl: String, username: String, password: String): NativeSSO[authlete.Authorization.BasicAuth] =
    NativeSSO(baseUrl, authlete.Authorization.BasicAuth(username, password))

  def withApiKeyAuth(baseUrl: String, apiKey: String): NativeSSO[authlete.Authorization.ApiKey] =
    NativeSSO(baseUrl, authlete.Authorization.ApiKey(apiKey))

  def withBearerTokenAuth(baseUrl: String, token: String): NativeSSO[authlete.Authorization.BearerToken] =
    NativeSSO(baseUrl, authlete.Authorization.BearerToken(token))

case class NativeSSO[Auth <: authlete.Authorization] private (baseUrl: String, authConfig: authlete.Authorization):
  def withBasicAuth(username: String, password: String): NativeSSO[authlete.Authorization.BasicAuth] =
    copy(authConfig = authlete.Authorization.BasicAuth(username, password))

  def withApiKeyAuth(apiKey: String): NativeSSO[authlete.Authorization.ApiKey] =
    copy(authConfig = authlete.Authorization.ApiKey(apiKey))

  def withNoAuth: NativeSSO[authlete.Authorization.NoAuthorization.type] =
    copy(authConfig = authlete.Authorization.NoAuthorization)

  def withBearerTokenAuth(token: String): NativeSSO[authlete.Authorization.BearerToken] =
    copy(authConfig = authlete.Authorization.BearerToken(token))

  /**
   * This API should be called by the implementation of a token endpoint to generate the ID token and token response that comply with [OpenID Connect Native SSO for Mobile Apps 1.0](https://openid.net/specs/openid-connect-native-sso-1_0.html) (Native SSO) when Authlete’s `/auth/token` response indicates `action = NATIVE_SSO` (after you validate the session id and verify or generate the device secret as required by the flow). The token endpoint implementation should retrieve the value of `action` from the response and take the following steps according to the value. 
   * 
   * Expected answers:
   *   code 200 : NativeSsoResponse (Native SSO processing completed successfully)
   *   code 400 : Result ()
   *   code 401 : Result ()
   *   code 403 : Result ()
   *   code 500 : Result ()
   * 
   * Available security schemes:
   *   bearer (http)
   * 
   * @param serviceId A service ID.
   * @param nativeSsoRequest 
   */
  def ssoApi(serviceId: String, nativeSsoRequest: NativeSsoRequest)(using Auth <:< authlete.Authorization.BearerToken): sttp.client4.Request[Either[ResponseException[String], NativeSsoResponse]] =
    val serviceIdPathParam = PathSerializable.serialize("serviceId", serviceId, PathStyleFormat.SIMPLE, false)
    val requestURL =
      uri"$baseUrl/api/${serviceIdPathParam}/nativesso"

    basicRequest
      .method(Method.POST, requestURL)
      .contentType("application/json")
      .auth(authConfig)
      .body(asJson(nativeSsoRequest))
      .response(asJson[NativeSsoResponse])

  /**
   * The `/nativesso/logout` API is supposed to be used to support the concept of \"logout from all applications\" in the context of [OpenID Connect Native SSO for Mobile Apps 1.0](https://openid.net/specs/openid-connect-native-sso-1_0.html) (Native SSO). This is accomplished by deleting access/refresh token records associated with the specified session ID. In Authlete's implementation, access/refresh token records can be associated with a session ID only through the mechanism introduced by Native SSO. 
   * 
   * Expected answers:
   *   code 200 : NativeSsoLogoutResponse ()
   *   code 400 : Result ()
   *   code 401 : Result ()
   *   code 403 : Result ()
   *   code 500 : Result ()
   * 
   * Available security schemes:
   *   bearer (http)
   * 
   * @param serviceId A service ID.
   * @param nativeSsoLogoutRequest 
   */
  def ssoLogoutApi(serviceId: String, nativeSsoLogoutRequest: NativeSsoLogoutRequest)(using Auth <:< authlete.Authorization.BearerToken): sttp.client4.Request[Either[ResponseException[String], NativeSsoLogoutResponse]] =
    val serviceIdPathParam = PathSerializable.serialize("serviceId", serviceId, PathStyleFormat.SIMPLE, false)
    val requestURL =
      uri"$baseUrl/api/${serviceIdPathParam}/nativesso/logout"

    basicRequest
      .method(Method.POST, requestURL)
      .contentType("application/json")
      .auth(authConfig)
      .body(asJson(nativeSsoLogoutRequest))
      .response(asJson[NativeSsoLogoutResponse])

end NativeSSO